# API
APP_NAME=RINE Print Manager
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=false

# Redis
REDIS_HOST=redis
REDIS_PORT=6380
REDIS_DB=0
REDIS_PASSWORD=

# Queue
QUEUE_NAME=print_jobs
MAX_RETRIES=3
JOB_TIMEOUT=300

# Printers
LASER_PRINTER_NAME=HP_LaserJet
ZEBRA_PRINTER_VENDOR_ID=0x0a5f
ZEBRA_PRINTER_PRODUCT_ID=0x00bd

# Logging
LOG_LEVEL=INFO

# External services
INVOICE_BASE_URL=https://urldeapi.com